.vote-option {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

.vote-option-input {
  min-height: 1.8rem;
  min-width: 1.8rem;
}

.vote-option-text {
  margin: 0;
  margin-top: .4rem;
  margin-left: .5rem;
}