.app-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div[class$="-screen"] {
  min-width: 38rem;
  max-width: 38rem;
  min-height: 63rem;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #000000;
  border-radius: 3rem;
  background-color: #d1e8e2;
}